.teal {
    color: teal; 
    margin-bottom: 10px;
}


.hover-link {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.hover-link:hover {
    color: #FF5733; 
}